# manifest/1_config/02_secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: cv-factory-secrets
  namespace: mlops-cv-factory
type: Opaque
data:
  # Các Secret quan trọng (encoded Base64)
  MLFLOW_TRACKING_TOKEN: <base64_encoded_token>
  SLACK_WEBHOOK_URL: <base64_encoded_slack_webhook>
  FS_DB_PASSWORD: <base64_encoded_db_password>
